<% layout('/layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img src="/images/login.jpg" alt="" class="card-img-top" />
        <div class="card-body">
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label for="username" class="form-label">ユーザー名</label>
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">メールアドレス</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">パスワード</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-block">
              <button class="btn btn-success">登録</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
